
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"></meta>
        <meta charset="utf-8"></meta>
        <meta http-equiv="X-UA-Compatible" content="IE=edge"></meta>
        <meta name="viewport" content="width=device-width, initial-scale=1"></meta>
        <meta name="description" content=""></meta>
        <meta name="author" content=""></meta>
        <title>Authentication Failure</title>
        <!-- Compiled and minified CSS -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/css/materialize.min.css"></link>
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"></link>
        <link rel="stylesheet" href="css/main.css"></link>
        <link rel="icon"
              type="image/x-icon"
              href="favicon.ico"></link>
        <link rel="icon"
              type="image/x-icon"
              href="favicon.ico"></link>
        <!-- Overide the sidebar css -->
        <style>
            .sideBarClass{
                margin-top: 0;
            }

            .breadCrumbs{
                font-size: 18px;
                color:  #00be9f;
                padding-left: 0px;
            }
        </style>
    </head>
    <body>


        <div th:replace="header :: header">Header</div>

        <div class="container">

            <div class="row  mainContent">

                <div class="col s12 m12 l8">
                    <div class="container" style="width:90%">
                        <div class="row instructions">
                            <div class="col s12 flow-text hide-on-large-only">
                                <h5 th:text="${title}">title</h5>
                                <p th:text="${errorMsg}">error message</p>
                            </div>
                            <div class="col s12 hide-on-med-and-down ">
                                <h5 th:text="${title}">title</h5>
                                <p th:text="${errorMsg}">error message</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col s12 m12 l6 " style="margin-top: 1rem;">
                                <a class="waves-effect waves-light btn swell-btn next-btn" onclick="onHomeClick()">Home</a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col s12 m12 l4">
                    <div   th:replace="sidebar :: sidebar"></div>
                </div>




            </div>
            <div class="row" th:replace="footer :: footer"></div>

        </div>

        <!--Import jQuery before materialize.js-->
        <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
        <!-- Compiled and minified JavaScript -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/js/materialize.min.js"></script>
        <script th:inline="javascript">
                                    /*<![CDATA[*/
                                    $(document).ready(function () {
                                    $('select').material_select();
                                    $('.modal').modal();
                                    if (!$('#countrySelection').val()) {
                                    $('#next').removeClass("waves-effect waves-light submit").addClass('disabled');
                                    }

                                    $('#countrySelection').change(function () {
                                    if (this.vaue !== "") {
                                    $('#next').removeClass("disabled").addClass('waves-effect waves-light submit');
                                    } else {
                                    $('#next').removeClass("waves-effect waves-light submit").addClass('disabled');
                                    }

                                    });
                                    });
                                    function onNextClick() {
                                    let country = $("#countrySelection").val();
                                    let location = [[${issUrl}]]
                                            + "?t=" + [[${token}]]
                                            + "&sp=" + [[${sp}]]
                                            + "&cc=" + country
                                            + "&saml=eIDAS";
                                    window.location = location;
                                    }

                                    function onCancelClick() {
                                    let failPage = [[${spFailPage}]];
                                    window.location = failPage;
                                    }
                                    function onNextClickUAegean() {
                                    let location = "http://eidasiss.aegean.gr:8081/ISS2/ldap.jsp?t=${token}" + "&sp=${sp}";
                                    window.location = location;
                                    }
                                     function onHomeClick() {
                                        window.location = [[${server}]]; 
                                    }
                                    

                                    /*]]>*/
        </script>
    </body>
</html>
