<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"> 




    <footer class="page-footer custom-footer"  th:fragment="footer">
        <div class="container footer-container" style="margin-left: 2rem;">
            <div class="row">
                <div id="border" style="    border-top: 1px solid #d0d0d0;
                     width: 91%;
                     margin-left: 0.7rem;
                     padding-top: 1em;"></div>

                <div class="col s12 m4 footerCol" id="flags">
                    <a target="_blank" href="https://ec.europa.eu/inea/en/connecting-europe-facility">
                        <img src="img/en_cef.jpg" class="responsive-img" alt="cef"></img>
                    </a>
                </div>
                <div class="col s12  m4 footerCol" style="padding-left: 5%;">
                    <p style="margin-top: 0;text-align: justify;">
                        The integration of this Service with the eIDAS Network has been implemented by 
                        <a target="_blank" href="http://www.atlantis-group.gr">UAegean | i4m Lab</a>, and funded by the European Commission (<a href="https://ec.europa.eu/inea/en/connecting-europe-facility/cef-teleco">CEF Programme</a> - Agreement No INEA/CEF/ICT/ A2015/1147836)
                    </p>

                    <p></p>
                </div>
                <div class="col s12  m4 footerCol" style="padding-left: 6%; margin-top: 0.2%;">
                    <a target="_blank" href="//opensource.org"><img src="img/open_source1-4.png" class="responsive-img" alt="cef"/></a>
                    <p style="margin:0">Developed with Open Source Software (OSS) </p>
                </div>

            </div>
        </div>


    </footer>



</html>