<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"> 



<footer class="page-footer custom-footer" th:fragment="footer">
  
    
    <div class="container footer-container">
        <div class="row" stlye="width: 90%">
            <div class="col s12 m3">
                <a href="https://ec.europa.eu/inea/en/connecting-europe-facility">
                    <img src="img/en_cef.png" class="responsive-img" alt="cef"></img>
                </a>
            </div>
            <div class="col s12 m1">
                <a href="https://ec.europa.eu/inea/en/connecting-europe-facility">
                    <img src="img/cef-program.png" width="60" alt="cef - programme"></img>
                </a>
            </div>
            <div class="col s12  m3">
                <p>
                    The Connection of Teem Community Project (by <a href="http://www.aegean.gr/">UAegean</a> 
                    - <a href="http://www.atlantis-group.gr/i4Mlab">i4m Lab</a>) 
                    to eIDAS Greece Node is funded by
                    AGREEMENT No INEA/CEF/ICT/A2015/1147836
                </p>
            </div>
            <div class="col s12  m2">
                <a href="//opensource.org"><img src="img/open_source1-4.png" class="responsive-img" alt="cef"></img></a>
                <p>Developed with Open Source Software (OSS) </p>
            </div>
            <div class="col s12  m1">
                <div>
                    <a href="//opensource.org"><img src="img/greece.jpg" class="responsive-img" alt="cef"></img></a>
                </div>
                
                
            </div>
        </div>
    </div>

 
</footer>
 
    
</html>