<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"> 



    <body>
        <div id="modal1" class="modal modal-fixed-footer" th:fragment="modalProperties">
            <div class="modal-content" style="padding-bottom: 0">

                <div class="container">
                    <div class="row">
                        <div class="col s12">
                            <h4 th:text="#{attributes}">Which attributes will be requested</h4>
                        </div>

                    </div>
                    <div class="row">
                        <div class="col s12" th:text="#{consent}">
                            By agreeing to proceed the system will request the following identification attributes from the eID_EU network. 
                            These attributes will not be propagated to third parties and will only be used within the premises of this application.
                        </div>
                    </div>
                    <div class="row">
                        <!--                    <c:set var = "size" scope = "session" value = "s12"/>
                                            <c:if test = "${legal.size() > 0 && natural.size() > 0}">
                                                <c:set var = "size" scope = "session" value = "s6"/>
                                            </c:if>-->


                        
                        <div class="col"  th:classappend="${legal.size() >0} ? 's6' : 's12'" th:if="${natural.size()} >= 0">
                            <table class="centered striped responsive">
                                <thead>
                                    <tr>
                                        <th style="background: #5455ca;
                                            color: white;">Natural Person</th>
                                    </tr>
                                </thead>

                                <tbody>
                                <th:block th:each="attr : ${natural}">
                                    <tr>
                                        <td th:text="${attr}"></td>
                                    </tr>
                                </th:block>


                                </tbody>
                            </table>
                        </div>


                        <div class="col"  th:classappend="${natural.size() >0} ? 's6' : 's12'" th:if="${legal.size()} > 0">
                            <table class="centered striped">
                                <thead>
                                    <tr>
                                        <th style="background: #5455ca;
                                            color: white;">Legal Person</th>
                                    </tr>
                                </thead>
                                <tbody>
                                <th:block th:each="attr : ${legal}">
                                    <tr>
                                        <td th:text="${attr}"></td>
                                    </tr>
                                </th:block>
                                </tbody>
                            </table>
                        </div>

                    </div>


                </div>


            </div>
            <div class="modal-footer">
                <div class="container">
                    <div class="row" style="margin-bottom: 0;" >
                        <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat"  th:text="#{agree}">Agree</a>
                        <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat" onclick="onCancelClick()"  th:text="#{disagree}"> Disagree</a>
                    </div>
                </div>
            </div>
        </div>
    </body>


</html>
