 
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"> 

    <body>
        <div class="sideBarClass" th:fragment="sidebar">
            <div class="container">
                <div class="row">
                    <div class="col s4  l12">
                        <a href="about">
                            <i class="medium material-icons">info_outline</i><br></br>
                            <p>About</p>
                        </a>
                    </div>
                    <div class="col s4  l12">
                        <a href="instructions">
                            <i class="medium material-icons">vpn_key</i> <br></br>
                            <p>Instructions</p>
                        </a>

                    </div>

                    <div class="col s4  l12">
                        <a href="instructions">
                            <div id="eIDASbtn"></div> <br></br>
                            <p style="padding-left: 10px">eIDAS</p>
                        </a>
                    </div>

                </div>

            </div>


        </div>
    </body>

</html>