 
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"> 

    <body>
        <div class="sideBarClass" style="padding-top: 3em;" th:fragment="sidebar">
            <div class="container">
                <div class="row">
                    <div class="col s4  l12">
                        <a href="instructions">
                            <div id="Instructions" style="background: url(../img/instructions.png);background-size: cover;background-repeat: no-repeat; width: 56px;height: 56px;" > </div>
                            <p style="margin:0">Instructions</p>
                        </a>
                    </div>
                    <div class="col s4  l12">
                        <a href="about">
                            <i class="medium material-icons">info_outline</i>
                            <p style="margin:0;padding-left:10px; padding-bottom:10px;">About</p>
                        </a>
                    </div>

                    <div class="col s4  l12">
                        <a href="instructions">
                            <div id="eIDASbtn"></div>
                            <p style="padding-left: 10px; margin:0;">eIDAS</p>
                        </a>
                    </div>

                </div>

            </div>


        </div>
    </body>

</html>