  
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"> 

    <body>
        <!--        <div class="sideBarClass" style="padding-top: 3em;" th:fragment="sidebar">
                    <div class="container">
                        <div class="row">
                            <div class="col s4  l12">
                                <a  href="https://docs.google.com/document/d/1MeRO2ZI97FC_H12WQiOdnMgvfWJ6i6YGTZ6KGUnD4VU/edit?usp=sharing" target="_blank">
                                    <img src="/img/instructions.png" style="
                                         max-width:  60px;
                                         margin-left: 5%;
                                         "/>
                                    <p style="margin-top:  0;">Instructions</p>
                                </a>
                            </div>
                            <div class="col s4  l12">
                                <a  href="https://docs.google.com/document/d/17EKb0gAhDPDOuCTgolxR5Ydzxa97VywpHzuM_-c4mdk/edit?usp=sharing"  style="margin-left: 0.5rem;"  target="_blank">
                                    <i class="medium material-icons">info_outline</i>
                                    <p style="margin-left: 1.2rem; margin-top: 0;margin-bottom: 0;">About</p>
                                </a>
                            </div>
        
                            <div class="col s4  l12">
                                <a href="https://docs.google.com/document/d/1UniQ7VVGB_bPFyDLLraBghzS4_Jls-hYcuLJCol13Is/edit" target="_blank">
                                    <div id="eIDASbtn"></div>
                                    <img src="/img/eidas_logo2.jpg" style="max-width: 56px;
                                         margin-left: 5%;"/>
                                    <p style="margin-top: 0;
                                       margin-left: 0.7rem;">@eID_EU</p>
                                </a>
                            </div>
        
                        </div>
        
                    </div>
        
        
                </div>-->

        <div class="sideBarClass" style="padding-top: 3em;" th:fragment="sidebar">
            <div class="container">
                <div class="row">

                    <div class="col s4  l12">
                        <a target="_blank" href="https://docs.google.com/document/d/1MeRO2ZI97FC_H12WQiOdnMgvfWJ6i6YGTZ6KGUnD4VU/edit?usp=sharing">
                            <img src="/img/instructions.png" style="
                                 max-width:  60px;
                                 margin-left: 10%;
                                 "/>
                            <p style="margin-top:  0;">Instructions</p>
                        </a>
                    </div>
                    <div class="col s4  l12">
                        <a target="_blank" href="https://docs.google.com/document/d/17EKb0gAhDPDOuCTgolxR5Ydzxa97VywpHzuM_-c4mdk/edit?usp=sharing" style="margin-left: 0.5rem;">
                            <i class="medium material-icons">info_outline</i>
                            <p style="margin-left: 1.2rem; margin-top: 0;margin-bottom: 0;">About</p>
                        </a>
                    </div>

                    <div class="col s4  l12">
                        <a target="_blank" href="https://docs.google.com/document/d/1UniQ7VVGB_bPFyDLLraBghzS4_Jls-hYcuLJCol13Is/edit">
                            <!--<div id="eIDASbtn"></div>-->
                            <img src="/img/eidas_logo2.jpg" style="max-width: 56px;
                                 margin-left: 10%;"/>
                            <p style="margin-top: 0;
                               margin-left: 0.7rem;">@eID_EU</p>
                        </a>
                    </div>

                </div>

            </div>


        </div>


    </body>

</html>